body {
    background-image:url("../picture/soudainayatu.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    }
body {
    text-align: center;
    }
ul {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    z-index: 20;
    padding:0;
}
ul li {
    display: inline-block;
    padding: 13px 5px 10px 5px;
}
a {
    font-size: 50px;
    color: #ff4343;
    -webkit-text-stroke:1px #741b1b;
 }
p{
 color: #472558;
font-size: 40px;
-webkit-text-stroke:1px #000000;
}
#wordsback{
    background-color: rgba(240, 255, 255, 0.5);
}

.open{
    cursor: pointer;
}
#pop-up{
    display: none;
}
.overlay{
    display: none;
}
#pop-up:checked + .overlay{
    display: block;
    z-index: 9999;
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.window{
    width: 160vw;
    max-width: 1000px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    font-size: 42px;
    margin: 0;
}
.close{
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 20px;
}