body {
    text-align: center;
    background-image:url("../picture/kaeru.png") ; 
    animation-name: sing-frog;
    animation-duration: 10s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-fill-mode: both; */
    background: size 40%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position:center;
}
@keyframes sing-frog {
    from{
            background-position:  0% ;
        }
    to  {
        background-position: -130.6%;
    }  
}
ul {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    z-index: 20;
    padding:0;
    }
ul li {
    display: inline-block;
    padding: 13px 5px 10px 5px;
    }
a {
    font-size: 50px;
    color: #ff00e1;
    -webkit-text-stroke:1px #000000;
 }
 #wordsback{
    background-color: rgba(240, 255, 255, 0.5);
}
