body {
    background-image:url("../picture/soudainayatu.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    }
body {
    text-align: center;
    }
ul {
    overflow:hidden;
    list-style:none;
    margin: 0 auto;
    z-index: 20;
}
ul li {
    display: inline-block;
    padding: 13px 5px 10px 5px;
}
a {
    font-size: 50px;
    color: #ff4343;
    -webkit-text-stroke:1px #741b1b;
 }
p{
 color: #472558;
font-size: 40px;
-webkit-text-stroke:1px #000000;
}
#wordsback{
    background-color: rgba(240, 255, 255, 0.5);
}